* {
  box-sizing: border-box;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  gap: 20px;
}
.slogan-contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan-contact-us h2 {
  letter-spacing: 1px;
  color: #094067;
  font-size: 2rem;
  font-weight: 700;
  margin: 0%;
}

.container {
  width: 50%;
  max-width: 500px;
  padding: 20px;
  border: none;
}

.container form {
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}

label {
  color: #086d6a;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

input[type="text"],
input[type="email"] {
  background: none;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #fc6857;
  font-size: 15px;
  text-overflow: ellipsis;
  color: #0f3433;
  margin: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}
button {
  padding: 10px 20px;
  background-color: #fc6857;
  color: #fffffe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
  width: 100%;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
}

button:hover {
  background-color: #3da9fc;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0 10px;
    margin: 0;
    box-shadow: none;
  }

  .slogan-contact-us h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  label {
    font-size: 17px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 13px;
  }

  button {
    font-size: 15px;
  }
}

@media screen and (max-height: 655px) {
  .contact-container {
    margin: 50px 0;
    gap: 0px;
  }
  .slogan-contact-us {
    margin: 0;

    padding: 0;
  }
  .slogan-contact-us svg {
    height: 100px;
    width: 100px;
  }
}
