<footer>
  <div class="footer-top">
    <!-- Logo Section -->
    <div class="footer-logo">
      <a
        (click)="scrollToTop()"
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        target="_self"
        rel="noopener noreferrer"
      >
        <img src="assets/svg/logo.svg" alt="Logo" />
      </a>
    </div>

    <!-- Quick Links -->
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a
            (click)="scrollToTop()"
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            (click)="scrollToTop()"
            routerLink="projects"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Projects</a
          >
        </li>
        <li>
          <a
            (click)="scrollToTop()"
            hrouterLink="contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact</a
          >
        </li>
        <li>
          <a
            (click)="scrollToTop()"
            routerLink="schedule_a_call"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Schedule a call</a
          >
        </li>
      </ul>
    </div>

    <!-- Contact / Social -->
    <div class="footer-contact">
      <h3>Contact Me</h3>
      <ul>
        <li>
          <a
            (click)="scrollToTop()"
            href="https://www.linkedin.com/in/josias-matos-b-142a11202/"
            target="_blank"
          >
            <img src="assets/svg/linkedin.svg" alt="LinkedIn" />
          </a>
        </li>
        <li>
          <a (click)="scrollToTop()" href="https://www.instagram.com/josia_matos/" target="_blank">
            <img src="assets/svg/instagram.svg" alt="Instagram" />
          </a>
        </li>
        <li>
          <a (click)="scrollToTop()" href="https://github.com/JosiasMB" target="_blank">
            <img src="assets/svg/githubW.svg" alt="GitHub" />
          </a>
        </li>
        <li>
          <a (click)="scrollToTop()" href="https://wa.me/18093925923" target="_blank">
            <img src="assets/svg/whatsapp.svg" alt="WhatsApp" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    <p>© 2025 Josias Matos. All rights reserved.</p>
  </div>
</footer>
