<section id="home">

  <!-- 1. About Section -->
  <section id="about" class="home-section">
    <section id="about-me">
      <div class="name">
        <h1>Josias Matos B.</h1>
        <h3>Support Engineer - Technical Analyst - Mastering Java</h3>
      </div>
      <div class="description">
        <div class="image">
          <!-- <img src="assets/img/profile4.jpg" alt="Your Name"> -->

        </div>
        <div class="text-description">
          <h2>About Me</h2>
          <p>
            I’m a Technical Support Analyst and Support Engineer with over
            5 years of experience helping businesses resolve complex technical challenges while
            delivering excellent customer experiences.
          </p>
          <p>
            Throughout my career, I’ve had the opportunity to work with global companies like
            Nylas, Thryv, and Altice USA, where I gained recognition for my ability to simplify
            technical information for clients and mentor new team members. My strong analytical
            skills and leadership mindset have allowed me to thrive in fast-paced, client-centric
            environments.
          </p>
          <p>
            Beyond technical support, I bring hands-on knowledge of tools and technologies such as
            SQL databases, cloud platforms (AWS, Azure, Google Cloud), and web development
            frameworks like AngularJS and JavaScript. I enjoy bridging the gap between technology
            and people, ensuring solutions are not only effective but also easy to understand.
          </p>
          <p>
            When I’m not working, I’m continuously learning—whether it’s exploring new technologies,
            advancing my Java development skills, or building personal projects. My goal is to
            grow as a professional while contributing meaningful solutions that make a difference.
          </p>
        </div>
      </div>
    </section>
  </section>

  <app-experience></app-experience>

  <!-- 3. Education Section -->
  <app-education></app-education>

  <!-- 4. Certifications & Courses Section -->


  <!-- 5. Hobbies Section -->


</section>