<section id="hobbies" class="home-section hobbies-section">
    <h2>Hobbies & Interests</h2>
    <div class="hobbies-list">

        <div class="hobbie-card">
            <img src="assets/svg/basketball.svg" alt="Basketball">
            <span>Playing Basketball & Staying Active</span>
        </div>

        <div class="hobbie-card">
            <img src="assets/svg/gaming.svg" alt="Video Games">
            <span>Immersive Video Gaming</span>
        </div>

        <div class="hobbie-card">
            <img src="assets/svg/cooking.svg" alt="Cooking">
            <span>Exploring New Recipes in the Kitchen</span>
        </div>

        <div class="hobbie-card">
            <img src="assets/svg/oven.svg" alt="Baking">
            <span>Baking Creative Sweet Treats</span>
        </div>

        <div class="hobbie-card">
            <img src="assets/svg/programming.svg" alt="Programming">
            <span>Building Projects & Programming for Fun</span>
        </div>

        <div class="hobbie-card">
            <img src="assets/svg/beach.svg" alt="Beach">
            <span>Relaxing & Recharging at the Beach</span>
        </div>

    </div>
</section>