<section id="education" class="home-section education-section">
    <h2>Education</h2>
    <ul>
        <li class="edu-card">
            <h3>
                <img src="assets/img/uasd.jpg" alt="UASD Logo" class="edu-logo">
                Bachelor in Computer Science
            </h3>
            <span class="edu-meta">Autonomous University of Santo Domingo (UASD) | 2019 - 2024</span>
            <p><strong>GPA:</strong> 86</p>
        </li>
        <li class="edu-card">
            <h3>
                <img src="assets/img/medu.jpg" alt="High School Logo" class="edu-logo">
                High School Diploma
            </h3>
            <span class="edu-meta">Technical High School Dr. Federico Enriquez and Carvajal | 2010 - 2015</span>
            <p><strong>GPA:</strong> 88</p>
        </li>
    </ul>
</section>