<!-- 2. Experience Section -->
<section id="experience" class="home-section">
    <section id="experience">
        <h2>Experience</h2>

        <!-- Job 1 -->
        <div class="job">
            <h3>Technical Support Engineer <span>@ Nylas</span></h3>
            <p class="time">Oct 2024 – Present</p>
            <p class="description">
                Troubleshoot technical issues and address customer questions about Nylas’ product capabilities while
                managing
                support
                tickets with timely updates and thorough resolutions. Also, collaborate closely with engineering to
                report
                bugs,
                provide
                feedback, and enhance the platform, as well as create and improve customer-facing documentation,
                integration
                guides, and
                technical resources.
            </p>
            <p class="achievement">
                <strong>Achievement:</strong> Improved resolution time by streamlining the ticket management process.
            </p>
            <div class="tech-stack">
                <ul class="tech-stack">
                    <li data-name="Postman"><img src="assets/svg/postman.svg" alt="Postman"></li>
                    <li data-name="Jira"><img src="assets/svg/jira.svg" alt="Jira"></li>
                    <li data-name="AWS"><img src="assets/svg/aws.svg" alt="AWS"></li>
                    <li data-name="SQL"><img src="assets/svg/sql.svg" alt="SQL"></li>
                    <li data-name="Slack"><img src="assets/svg/slack.svg" alt="Slack"></li>
                </ul>
            </div>
        </div>
        <!-- Arrow -->
        <div class="arrow">↓</div>
        <div class="job">
            <h3>Technical Support Analyst, Supervisor <span>@ Thryv</span></h3>
            <p class="time">Jan 2024 – Present</p>
            <p class="description">
                Oversee the compilation, analysis, and distribution of daily reports to track digital product progress
                and
                ensure all
                SLAs are met. I analyze trends and deliver data-backed insights to leadership, manage and resolve
                digital
                escalations
                through thorough root-cause investigations in partnership with business stakeholders, and support team
                members
                with the
                resources and guidance they need to perform effectively. I communicate progress and risks regularly to
                leadership and
                lead cross-functional projects from planning to completion, aligning outcomes with organizational goals.
            </p>
            <p class="achievement">
                <strong>Achievement:</strong> Improved resolution time by streamlining the ticket management process.
            </p>
            <div class="tech-stack">
                <ul class="tech-stack">
                    <li data-name="Postman"><img src="assets/svg/postman.svg" alt="Postman"></li>
                    <li data-name="Jira"><img src="assets/svg/jira.svg" alt="Jira"></li>
                    <li data-name="AWS"><img src="assets/svg/aws.svg" alt="AWS"></li>
                    <li data-name="SQL"><img src="assets/svg/sql.svg" alt="SQL"></li>
                    <li data-name="Slack"><img src="assets/svg/slack.svg" alt="Slack"></li>
                </ul>
            </div>
        </div>
    </section>

</section>